/target/
/telegram.yaml
/jav.yaml
/telegram-data.yaml
/data.yaml
/jav-state.json
/sessions/
/downloads/
/temp/
/browser-profile/
.DS_Store

/media-downloader.db
/media-downloader.db-wal
/media-downloader.db-shm

/config/

/data/
