.ranking-links { grid-column: 1 / -1; }
table[data-resizable="history"] { min-width: 850px; }
table[data-resizable="history"] col:first-child { width: 30%; }
table[data-resizable="history"] col:nth-child(4) { width: 230px; }
#popular-link { flex: 1; max-width: 600px; }
#popular-note { flex-basis: 100%; font-size: 12px; }
@media (max-width: 600px) {
  #popular-link { flex-basis: 100%; }
}
